
node-name: cloud-proxy
cni: none
disable-kube-proxy: true
tls-san:
  - ${EXTERNAL_IP}
  - ${INTERNAL_IP}
  - promotesudbury.ca
  - "*.promotesudbury.ca"
disable:
  - rke2-ingress-nginx
  - rke2-snapshot-controller
  - rke2-snapshot-controller-crds
  - rke2-snapshot-validation-webhook
write-kubeconfig-mode: "0600"