
node-name: cloud-proxy
cni: none
disable-kube-proxy: true
tls-san:
  - ${EXTERNAL_IP}
  - ${INTERNAL_IP}
  - promotesudbury.ca
  - "*.promotesudbury.ca"
disable:
  - rke2-ingress-nginx
  - rke2-metrics-server
  - rke2-snapshot-controller
  - rke2-snapshot-controller-crds
write-kubeconfig-mode: "0600"

cluster-cidr: 10.42.0.0/16
service-cidr: 10.43.0.0/16 