
node-name: cloud-proxy
write-kubeconfig-mode: "0644"

cni: none
disable-kube-proxy: true
disable-cloud-controller: true
disable:
  - rke2-ingress-nginx
  - rke2-metrics-server
  - rke2-snapshot-controller
  - rke2-snapshot-controller-crd
  - rke2-snapshot-validation-webhook

tls-san:
  - ${EXTERNAL_IP}
  - promotesudbury.ca
  - "promotesudbury.ca"

cluster-cidr: 10.42.0.0/16
service-cidr: 10.43.0.0/16
cluster-dns: 10.43.0.10

advertise-address: ${INTERNAL_IP}

node-taint:
  - "node.cilium.io/agent-not-ready"

