
node-name: cloud-proxy
write-kubeconfig-mode: "0644"

cni: none
disable-kube-proxy: true
disable:
  - rke2-ingress-nginx
  - rke2-metrics-server
  - rke2-snapshot-controller
  - rke2-snapshot-controller-crd
  - rke2-snapshot-validation-webhook

tls-san:
  - ${EXTERNAL_IP}
  - promotesudbury.ca
  - "*.promotesudbury.ca"

node-ip: ${INTERNAL_IP}

cluster-cidr: 10.42.0.0/16
service-cidr: 10.43.0.0/16
cluster-dns: 10.43.0.10

kubelet-arg:
  - "register-with-taints=node.cilium.io/agent-not-ready=true:NoSchedule"

# advertise-address: ${INTERNAL_IP}
# kubectl get pods --all-namespaces -o custom-columns=NAMESPACE:.metadata.namespace,NAME:.metadata.name,HOSTNETWORK:.spec.hostNetwork --no-headers=true | grep '<none>' | awk '{print "-n "$1" "$2}' | xargs -L 1 -r kubectl delete pod
