apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: homepage
    repo: https://unknowniq.github.io/helm-charts/
    namespace: homepage
    version: 1.8.1
    releaseName: homepage
    valuesInline:
      service:
        type: NodePort   # or NodePort
        port: 3000
      config:
        settings.yaml: |
          title: "Global Cloudworks"
          theme: dark
          language: en
          color: slate
          layout:
            Home:
              style: row
              columns: 3
