apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: my-homepage
    repo: oci://ghcr.io/m0nsterrr/helm-charts
    namespace: homepage
    version: 4.4.1
    releaseName: my-homepage

