apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# 1. Turn real files into a ConfigMap
configMapGenerator:
  - name: homepage-config
    files:
      - settings.yaml
      - services.yaml
      - bookmarks.yaml
      - widgets.yaml

generatorOptions:
  disableNameSuffixHash: true

# 2. Helm chart still uses valuesInline
helmCharts:
  - name: homepage
    repo: https://unknowniq.github.io/helm-charts/
    namespace: homepage
    version: 1.8.1
    releaseName: homepage
    valuesInline:
      service:
        type: NodePort
        port: 3000
      env:
        - name: HOMEPAGE_ALLOWED_HOSTS
          value: "*"
      # 3. Point the chart to the ConfigMap created above
      config:
        existingConfigMap: homepage-config