apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: homepage
    repo: https://unknowniq.github.io/helm-charts/
    namespace: homepage
    version: 1.8.1
    releaseName: homepage

