apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - httproute.yaml

helmCharts:
  - name: open-webui
    repo: https://helm.openwebui.com
    namespace: open-webui
    version: 8.12.3
    releaseName: open-webui
