apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: core-deployment
  namespace: argocd
spec:
  generators:
    - matrix:
        generators:
          - git:
              repoURL: 'https://github.com/global-cloudwork/kubernetes'
              revision: 'main'
              directories:
                - path: 'base/data'
                - path: 'base/edge'
                - path: 'base/tenant'
          - clusters:
              selector: {}
  template:
    metadata:
      name: '{{path.basename}}' 
    spec:
      project: default
      source:
        repoURL: 'https://github.com/global-cloudwork/kubernetes'
        targetRevision: 'main'
        path: '{{path}}'
      destination:
        server: '{{server}}'
        namespace: '{{path.basename}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true