apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - httproute.yaml
  
helmCharts:
  - name: cilium
    repo: https://helm.cilium.io/
    namespace: kube-system
    version: 1.18.1
    releaseName: cilium
    valuesInline:
      gatewayAPI:
        enabled: true
        hostNetwork:
          enabled: true
      k8sServiceHost: 127.0.0.1
      k8sServicePort: 6443
      kubeProxyReplacement: true
      operator:
        replicas: 1
      encryption:
        enabled: true
        type: wireguard
      hubble:
        enabled: true
        relay:
          enabled: true
        ui:
          enabled: true